body{
    background-color: #171717;
    color: white;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
button{
    transition: 0.3s;
}
.no-display{
    display: none;
}

#select-nav-container{
    text-align: center;
}
#select-nav-container h1{
    font-size: 2em;
}

#js-new-show-input{
    padding: 5px 10px;
    color: white;
    background-color: #171717;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}
#js-new-show-input::placeholder{
    color: rgba(255, 255, 255, 0.637);
}
#js-new-show-input:focus{
    outline: none;
    border: 3px solid rgb(155, 100, 210);
}

#select-nav-container button{
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    background-color: #171717;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}
#finished-show-button{
    margin-top: 10px;
    border-color:rgb(250, 1, 250);
}
#finished-show-button:hover{
    border-color:rgb(247, 87, 247);
}

#select-nav-container .corner-button{
    border-color: #28a0cf;
    font-size: 1.25em;
    position: absolute;
}
#select-nav-container button:hover{
    border-color: rgb(155, 100, 210);
}
#select-nav-container .corner-button:hover{
    border-color: #68c7ec;
}
#select-nav-container .top-left{
    top: 26.5px; left: 30px;
}
#select-nav-container .top-right{
    top: 26.5px; right: 30px;
}


.loginOrSignup-container{
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    position: absolute;
    width: 450px;
    left: 0; 
    right: 0; 
    margin:auto;
    padding: 15px 0;
    opacity: 100%;
}
.loginOrSignup-container h1{
    margin: 0;
    margin-bottom: 5px;
}
.loginOrSignup-container input{
    margin: 2px;
    padding: 5px;
}
.login-container p{
    margin: 2px;
}

#js-shows-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    gap: 15px
}
.show-container{
    border: 3px solid blue;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.adjustable-div{
    display: flex;
    justify-content: center;
}
.adjustable-p{
    min-width: 80px;
}
.minus-box{
    position: relative;
    top: 16px;
    right: 15px;
    cursor: pointer;
    color: rebeccapurple;
}
.minus-box:hover{
    color: rgb(155, 100, 210);
}

.plus-box{
    position: relative;
    top: 16px;
    left: 15px;
    cursor: pointer;
    color: rebeccapurple;
}
.plus-box:hover{
    color: rgb(155, 100, 210);
}

.date-box{
    height: 20px;
    margin: 11px 7px;
    cursor: pointer;
    color: white;
    color-scheme: dark;
    background-color: #171717;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}
.date-box:focus{
    outline: none;
    border: 3px solid rgb(155, 100, 210)
}

.show-container button{
    border: 3px solid rebeccapurple;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    color: white;
    background-color: #171717;
    cursor: pointer;
}
.show-container button:hover{
    border: 3px solid rgb(155, 100, 210);
}

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#js-dropdown-text{
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 5px;
}
.dropdown-select {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: #171717;
}
.dropdown:hover .dropdown-select {
    display: block;
}
.dropdown-select-option {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
}
.dropdown-select-option:hover{
    background-color: #4d4c4c;
}

#js-history-container{
    display: flex;
}
#js-show-list-container{
    flex: 15%;
    max-width: 200px;
    height: 85vh;
    text-align: center;
    border: 2px groove white;
    overflow-y: auto;
}
#js-show-list-container li{
    list-style: none;
    font-size: 2em;
    word-wrap: break-word;
    padding-top: 20px;
    cursor: pointer;
    color: rgb(226, 117, 114);
}
#js-current-show-info{
    flex: 85%;
    border: 2px groove white;
    padding-left: 10px;
    overflow-y: auto;
    height: 85vh;
    text-align: center;
}
#js-current-show-info div{
    display: flex;
}
#js-current-show-info p{
    text-align: left;
}
#js-current-show-info button{
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    background-color: #171717;
    border: 3px solid rgb(250, 1, 250);
    border-radius: 5px;
    font-size: 1.2em;
}
#js-current-show-info button:hover{
    border-color:rgb(247, 87, 247);
}

.trash-can{
    cursor: pointer;
    margin-top: 17px;
    margin-left: 5px;
    color: rgb(148, 145, 145);
}