body{
    background-color: #171717;
    color: white;
    font-family: Arial;
    padding: 0;
    margin: 0;
}
button{
    transition: 0.3s;
}
.no-display{
    display: none;
}
.hidden{
    visibility: hidden;
    position: absolute;
}

#select-nav-container{
    text-align: center;
}
#select-nav-container h1{
    font-size: 2em;
    margin-top: 25px;
    font-size: 3em;
}

#js-new-show-input{
    padding: 10px 15px;
    font-size: 1em;
    color: white;
    background-color: #171717;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}
#js-new-show-input::placeholder{
    color: rgba(255, 255, 255, 0.637);
}
#js-new-show-input:focus{
    outline: none;
    border: 3px solid rgb(155, 100, 210);
}

#select-nav-container button{
    cursor: pointer;
    padding: 10px 15px;
    font-size: 1em;
    color: white;
    background-color: #171717;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}
#finished-show-button{
    margin-top: 10px;
    border-color:rgb(250, 1, 250);
}
#finished-show-button:hover{
    border-color:rgb(247, 87, 247);
}
@media only screen and (max-width: 900px){
    #select-nav-container h1{
        margin-top: 85px;
    }
    #select-nav-container .no-minmax-change{
        margin-top: 25px;
    }
}

#select-nav-container .corner-button{
    border-color: #28a0cf;
    font-size: 1.25em;
    position: absolute;
}
#select-nav-container button:hover{
    border-color: rgb(155, 100, 210);
}
#select-nav-container .corner-button:hover{
    border-color: #68c7ec;
}
#select-nav-container .top-left{
    top: 26.5px; left: 30px;
}
#select-nav-container .top-right{
    top: 26.5px; right: 30px;
}


.loginOrSignup-container{
    text-align: center;
    border: 3px solid white;
    border-radius: 5px;
    position: absolute;
    width: 450px;
    left: 0; 
    right: 0; 
    margin:auto;
    padding: 15px 0;
    opacity: 100%;
}
.loginOrSignup-container h1{
    margin: 0;
    margin-bottom: 5px;
}
.loginOrSignup-container input{
    margin: 2px;
    padding: 5px;
}
.login-container p{
    margin: 2px;
}

#js-shows-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 15px;
    gap: 15px
}
.show-container{
    border: 3px solid blue;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
}
.adjustable-div{
    display: flex;
    justify-content: center;
}
.adjustable-p{
    min-width: 80px;
}
.minus-box{
    position: relative;
    top: 16px;
    right: 15px;
    cursor: pointer;
    color: rebeccapurple;
}
.minus-box:hover{
    color: rgb(155, 100, 210);
}

.plus-box{
    position: relative;
    top: 16px;
    left: 15px;
    cursor: pointer;
    color: rebeccapurple;
}
.plus-box:hover{
    color: rgb(155, 100, 210);
}

.date-box{
    height: 20px;
    margin: 11px 7px;
    cursor: pointer;
    color: white;
    color-scheme: dark;
    background-color: #171717;
    border: 3px solid rebeccapurple;
    border-radius: 5px;
}
.date-box:focus{
    outline: none;
    border: 3px solid rgb(155, 100, 210)
}

.show-container button{
    border: 3px solid rebeccapurple;
    border-radius: 5px;
    padding: 5px;
    font-size: large;
    color: white;
    background-color: #171717;
    cursor: pointer;
}
.show-container button:hover{
    border: 3px solid rgb(155, 100, 210);
}

.dropdown {
    display: inline-block;
    position: relative;
    cursor: pointer;
}
#js-time-period-dropdown-text{
    border: 1px solid #ccc;
    padding: 3px 8px;
    border-radius: 5px;
}
.dropdown-select {
    display: none;
    position: absolute;
    min-width: 100px;
    background-color: #171717;
}
.dropdown:hover .dropdown-select {
    display: block;
}
.dropdown-select-option {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
}
.dropdown-select-option:hover{
    background-color: #4d4c4c;
}

#js-history-container{
    display: flex;
}
#js-show-list-container{
    flex: 15%;
    max-width: 200px;
    min-width: 130px;
    height: 83vh;
    text-align: center;
    border: 2px groove white;
    overflow-y: auto;
}
#js-show-list-container li{
    list-style: none;
    font-size: 2em;
    word-wrap: break-word;
    cursor: pointer;
    color: rgb(226, 117, 114);
}
.title-flex-container{
    display: flex;
    align-items: center;
    padding-top: 20px;
    justify-content: center;
}
.logs-flex-container{
    display: flex;
    align-items: center;
}
.title-flex-container .text-container{
    width: 75%;
    min-width: 100px;
}
.trash-can-container{
    padding-left: 5px;
}
#js-current-show-info{
    flex: 85%;
    border: 2px groove white;
    padding-left: 10px;
    overflow-y: auto;
    height: 83vh;
    text-align: center;
}
#js-current-show-info div{
    display: flex;
}
#js-current-show-info p{
    text-align: left;
}
#js-current-show-info button{
    margin-top: 10px;
    cursor: pointer;
    padding: 5px 10px;
    color: white;
    background-color: #171717;
    border: 3px solid rgb(250, 1, 250);
    border-radius: 5px;
    font-size: 1.2em;
}
#js-current-show-info button:hover{
    border-color:rgb(247, 87, 247);
}

.trash-can{
    cursor: pointer;
    margin-top: 17px;
    margin-left: 5px;
    color: rgb(148, 145, 145);
}
.removeButton{
    color: rgb(189, 4, 4);
    font-size: 1.3em;
    cursor: pointer;
}

#js-setting-buttons-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10%;
    margin-top: 20px;
}

#js-setting-buttons-container button{
    margin-top: 40px;
    cursor: pointer;
    padding: 10px 10px;
    font-size: 2em;
    color: white;
    background-color: #171717;
    border: 3px solid rgb(230, 114, 48);
    border-radius: 10px;
    min-width: 400px;
}
#js-setting-buttons-container button:hover{
    border: 3px solid rgb(223, 140, 93);
}
.important-button {
    border: 3px solid rgb(255, 0, 0) !important;
}
.important-button:hover{
    border: 3px solid rgb(216, 0, 0) !important;
}

/*Warning Box*/

.warning-container{
    text-align: center;
    font-size: 1.2em;
    border: 3px solid rgb(131, 2, 2);
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    min-width: 475px;
    height: 200px;
    padding-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.warning-container button{
    cursor: pointer;
    padding: 10px 10px;
    font-size: 1.1em;
    color: white;
    background-color: #171717;
    border: 3px solid rgb(25, 52, 170);
    border-radius: 5px;
}
.warning-container button:hover{
    border-color: rgb(23, 45, 145);
}
.warning-button{
    margin-left: 20px;
}

/*Pop-up box*/
.popup-container{
    text-align: center;
    font-size: 1.2em;
    border: 3px solid rgb(131, 2, 2);
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    min-width: 475px;
    height: 200px;
    padding-top: 15px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}
.popup-container button{
    cursor: pointer;
    padding: 10px 10px;
    font-size: 1.1em;
    color: white;
    background-color: #171717;
    border: 3px solid rgb(25, 52, 170);
    border-radius: 5px;
}
.popup-container button:hover{
    border-color: rgb(23, 45, 145);
}


/*Restore deleted shows*/
#js-restore-deleted-shows-container{
    border: 3px solid rgb(2, 131, 8);
    border-radius: 5px;
    width: 60%;
    max-width: 600px;
    min-width: 475px;
    height: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
#js-restore-deleted-shows-container h1{
    margin-bottom: 0;
    font-size: 2.5em;
}
#js-deleted-shows-container{
    height: 550px;
    margin-top: 15px;
}
#js-deleted-shows-container li{
    list-style: none;
    font-size: 2em;
    word-wrap: break-word;
    cursor: pointer;
    color: rgb(226, 117, 114);
}
.close-button{
    position: absolute;
    cursor: pointer;
    font-size: 1.3em;
    right: 5px;
    top: 3px;
    color: #68c7ec;
}
#js-restore-button{
    cursor: pointer;
    margin-top: 5px;
    padding: 10px 10px;
    font-size: 1.3em;
    color: white;
    background-color: #171717;
    border: 3px solid rgb(170, 34, 97);
    border-radius: 5px;
}

/*Stats*/
#js-stats-container{
    text-align: center;
}
#js-stats-chart{
    max-height: 85vh; /* Adjust the value according to your needs */
    image-rendering: crisp-edges;
    overflow: hidden;
}
#stats-dropdown-p{
    margin-top: -20px;
}


